services: 
  # mssql_single: 
  #   image: mcr.microsoft.com/mssql/server:2022-latest 
  #   container_name: mssql_single
  #   networks:
  #     - huflit-network
  #   environment: 
  #     - ACCEPT_EULA=Y 
  #     - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
  #     - MSSQL_PID=Developer 
  #   ports: 
  #     - "14331:1433" 
  #   volumes: 
  #     - ./db:/usr/script
  #     - sqlserver_data:/var/opt/mssql
 
  api_php_123456: 
    build: ./app
    command: php -S 0.0.0.0:8080 -t public
    container_name: api_php_123456
    networks:
      - huflit-network
    environment: 
      - DB_SITE_A_HOST=mssql_site_a_123456
      - DB_SITE_A_PORT=1433
      - DB_SITE_A_NAME=Shop
      - DB_SITE_A_USER=sa
      - DB_SITE_A_PASS=${MSSQL_SA_PASSWORD}

      - DB_SITE_B_HOST=mssql_site_b_123456
      - DB_SITE_B_PORT=1433
      - DB_SITE_B_NAME=Shop
      - DB_SITE_B_USER=sa
      - DB_SITE_B_PASS=${MSSQL_SA_PASSWORD}

      # - DB_GLOBAL_HOST=mssql_global_123456
      # - DB_GLOBAL_PORT=1433
      # - DB_GLOBAL_NAME=Shop
      # - DB_GLOBAL_USER=sa
      # - DB_GLOBAL_PASS=${MSSQL_SA_PASSWORD}
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/var/www/html
    depends_on: 
      # - mssql_global_123456
      - mssql_site_a_123456
      - mssql_site_b_123456
  app_php_123456:
      build: ./app
      command: php -S 0.0.0.0:8081 -t public
      container_name: app_php_123456
      networks:
        - huflit-network
      ports:
        - "8081:8081"
      volumes:
        - ./app:/var/www/html
  mssql_site_a_123456:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_site_a_123456
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14332:1433"
    networks:
      - huflit-network
    volumes:
      - ./db/site_a:/usr/script
      - sqlserver_data_site_a:/var/opt/mssql

  mssql_site_b_123456:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_site_b_123456
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14333:1433"
    networks:
      - huflit-network
    volumes:
      - ./db/site_b:/usr/script
      - sqlserver_data_site_b:/var/opt/mssql

  mssql_global_123456:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_global_123456
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - "14334:1433"
    networks:
      - huflit-network
    volumes:
      - ./db/global:/usr/script
      - sqlserver_data_global:/var/opt/mssql
volumes:
  sqlserver_data_global: # đổi tên từ volume cũ sqlserver_data
    name: sqlserver_data_global
  sqlserver_data_site_a:
    name: sqlserver_data_site_a
  sqlserver_data_site_b:
    name: sqlserver_data_site_b
    
networks:
    huflit-network:
        name: huflit-network
        driver: bridge