services: 
  mssql_single: 
    image: mcr.microsoft.com/mssql/server:2022-latest 
    container_name: mssql_single
    networks:
      - huflit-network
    environment: 
      - ACCEPT_EULA=Y 
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Developer 
    ports: 
      - "14331:1433" 
    volumes: 
      - ./db:/usr/script
      - sqlserver_data:/var/opt/mssql
 
  api_php_123456: 
    build: ./app
    command: php -S 0.0.0.0:8080 -t public
    container_name: api_php_123456
    networks:
      - huflit-network
    environment: 
      - DB_HOST=mssql_single 
      - DB_PORT=1433 
      - DB_NAME=Shop 
      - DB_USER=sa 
      - DB_PASS=${MSSQL_SA_PASSWORD}
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/var/www/html
    depends_on: 
      - mssql_single
  app_php_123456:
      build: ./app
      command: php -S 0.0.0.0:8081 -t public
      container_name: app_php_123456
      networks:
        - huflit-network
      ports:
        - "8081:8081"
      volumes:
        - ./app:/var/www/html

volumes:
  sqlserver_data:
    
networks:
    huflit-network:
        name: huflit-network
        driver: bridge